.card__wrapper {
  min-width: 280px;
  height: 270px;
  border: 4px solid transparent;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__wrapper:focus {
  outline: none !important;
  border: 4px solid #000000;
}

.active-card {
  transform: scale(1.05);
  animation: scaleOut ease-out;
  animation-duration: 500ms;
}

@keyframes scaleOut {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.05);
  }
}

.pale-violet {
  background: #dc7684;
}

.burly-wood {
  background: #e4c899;
}

.light-steel-blue {
  background: #eaf2f4;
}

.steel-blue {
  background: #2d7f9d;
}

.light-steel-blue-alt {
  background: #a4c9d7;
}

.pale-goldenrod {
  background: #f1d7bb;
}

.powder-blue {
  background: #aedde0;
}

.gray {
  background: #958676;
}

.dark-sea-green {
  background: #f1d7bb;
}

.dark-sea-green {
  background: #f1d7bb;
}

.dark-khaki {
  background: #b5a25d;
}

.dark-slate-blue {
  background: #6b436e;
}

.dark-salmon {
  background: #e5b163;
}

.dark-olive-green {
  background: #563c2d;
}

.thistle {
  background: #e8cecb;
}

.pink {
  background: #ea2c62;
}

.purple {
  background: #892cdc;
}

.pink-alt {
  background: #e05297;
}

.yellow {
  background: #ffdd93;
}

.yellow-alt {
  background: #1f3c88;
}

.yellow-alt {
  background: #1f3c88;
}

.pink-alt-2 {
  background: #ffa5a5;
}
